CamMonitor/Web References/DBService/dbMethods.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExcuteNonSQL">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SQL" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExcuteNonSQLResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ExcuteNonSQLResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExcuteReturnedSQLByReader">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SQL" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExcuteReturnedSQLByReaderResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ExcuteReturnedSQLByReaderResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CloseConnection">
        <s:complexType />
      </s:element>
      <s:element name="CloseConnectionResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="ExcuteNonSQLSoapIn">
    <wsdl:part name="parameters" element="tns:ExcuteNonSQL" />
  </wsdl:message>
  <wsdl:message name="ExcuteNonSQLSoapOut">
    <wsdl:part name="parameters" element="tns:ExcuteNonSQLResponse" />
  </wsdl:message>
  <wsdl:message name="ExcuteReturnedSQLByReaderSoapIn">
    <wsdl:part name="parameters" element="tns:ExcuteReturnedSQLByReader" />
  </wsdl:message>
  <wsdl:message name="ExcuteReturnedSQLByReaderSoapOut">
    <wsdl:part name="parameters" element="tns:ExcuteReturnedSQLByReaderResponse" />
  </wsdl:message>
  <wsdl:message name="CloseConnectionSoapIn">
    <wsdl:part name="parameters" element="tns:CloseConnection" />
  </wsdl:message>
  <wsdl:message name="CloseConnectionSoapOut">
    <wsdl:part name="parameters" element="tns:CloseConnectionResponse" />
  </wsdl:message>
  <wsdl:portType name="dbMethodsSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ExcuteNonSQL">
      <wsdl:input message="tns:ExcuteNonSQLSoapIn" />
      <wsdl:output message="tns:ExcuteNonSQLSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ExcuteReturnedSQLByReader">
      <wsdl:input message="tns:ExcuteReturnedSQLByReaderSoapIn" />
      <wsdl:output message="tns:ExcuteReturnedSQLByReaderSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CloseConnection">
      <wsdl:input message="tns:CloseConnectionSoapIn" />
      <wsdl:output message="tns:CloseConnectionSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="dbMethodsSoap" type="tns:dbMethodsSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExcuteNonSQL">
      <soap:operation soapAction="http://tempuri.org/ExcuteNonSQL" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExcuteReturnedSQLByReader">
      <soap:operation soapAction="http://tempuri.org/ExcuteReturnedSQLByReader" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CloseConnection">
      <soap:operation soapAction="http://tempuri.org/CloseConnection" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="dbMethodsSoap12" type="tns:dbMethodsSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExcuteNonSQL">
      <soap12:operation soapAction="http://tempuri.org/ExcuteNonSQL" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExcuteReturnedSQLByReader">
      <soap12:operation soapAction="http://tempuri.org/ExcuteReturnedSQLByReader" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CloseConnection">
      <soap12:operation soapAction="http://tempuri.org/CloseConnection" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="dbMethods">
    <wsdl:port name="dbMethodsSoap" binding="tns:dbMethodsSoap">
      <soap:address location="http://www.ccast.edu.ps/dbservice/dbMethods.asmx" />
    </wsdl:port>
    <wsdl:port name="dbMethodsSoap12" binding="tns:dbMethodsSoap12">
      <soap12:address location="http://www.ccast.edu.ps/dbservice/dbMethods.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>